<div class="navBar">
    <div class="user-info">
        <span class="user not-login">
            <em>喵，欢迎来到天喵</em>
            <span class="link js-login">请登录</span>
            <span class="link js-register">免费注册</span>
        </span>
        <span class="user login">
            <span class="link-text">
                欢迎，
                <span class="username"></span>
            </span>
            <span class="link js-logout">退出</span>
        </span>
    </div>

    <div class="nav-list">

        <div class="menu-item dropdown">
            <a class="link" href="#">我的天喵 <b class="triangle"></b> </a>
            <div class="dropdown-content">
                <ul>
                    <li>
                        <a class="link" href="#" target="_top">已买到的宝贝</a>
                    </li>
                    <li>
                        <a class="link" href="#" target="_top">已卖出的宝贝</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="nav-item">
            <a class="link" href="./cart.html">
                <i class="fa fa-shopping-cart"></i>
                购物车(<span class="cart-count">0</span>)
            </a>
        </div>

        <div class="menu-item dropdown">
            <a class="link" href="#">收藏夹<b class="triangle"></b> </a>
            <div class="dropdown-content">
                <ul>
                    <li>
                        <a class="link" href="#" target="_top">收藏的宝贝</a>
                    </li>
                    <li>
                        <a class="link" href="#" target="_top">收藏的店铺</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="nav-item">
            <a class="link" href="./order-list.html">我的订单</a>
        </div>

       <div class="nav-item">
           <a class="link" href="./about.html">关于天喵</a>
       </div>
   </div>
</div>